.card_container {
  background-color: #fff;
  width: 342px;
  height: 410px ;
  max-height: 504px;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #CFD9F0;
}

.location_select_wrapper {
  border-radius:36px;
  display:inline-block;
  overflow:hidden;
  border:1px solid;
}

.location_select {
  width:114px;
  height:25px;
  border:0px;
  outline:none;
  text-align: center;
}

.info_container{
  font-size: bold!;
  color: #0f1318;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 7px 13px 7px
}

.image {
  height: 300px;
  width: 300px;
  object-fit: contain;
  border-radius: 8px;
}

.image_loading {
  height: 300px;
  width: 300px;
}

